<div ng-controller="NotesAddController">


  <h1>Add Notes</h1>

  <a ng-href="#/notes"> << Back </a>

  <form ng-submit="addNote(noteModel)">
      <div class="form-group">
          <label for="inputReminderDate">Reminder Date</label>
          <input type="text" class="form-control" id="inputReminderDate" placeholder="Reminder Date" readonly="readonly" ng-model="noteModel.reminderDate">
      </div>
      <div class="form-group">
          <label for="inputLastChange">Last Change Date</label>
          <input type="text" class="form-control" id="inputLastChange" placeholder="Last Change Date" readonly="readonly" ng-model="noteModel.lastChange">
      </div>
      <div class="form-group">
          <label for="inputText">Text</label>
          <textarea class="form-control" id="inputText" placeholder="Text" ng-model="noteModel.text"></textarea>
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
  </form>


</div>
